{% load tailwind_tags %}
{% load l1o_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if division %} {{ division.name }} {% else %} 404 {% endif %}
    </title>
    {% tailwind_css %}
  </head>
  <body class="bg-slate-100">
    {% if division %}
    <div class="flex flex-col items-center justify-between h-screen gap-y-2">
      <h1 class="text-4xl font-bold text-center">Road to 2024 {{division.name}} Standings</h1>
    <table class="border border-collapse border-slate-400 mt-2">
      <caption class="caption-top text-sm">{{ promotion_threshold }} points are currently needed to qualify for 2024 {{ division.name }}.</caption>
      <thead>
        <tr class="bg-slate-200">
          <th class="p-2 border border-slate-300">Rank</th>
          <th class="p-2 border border-slate-300">Team</th>
          <th class="p-2 border border-slate-300">Matches Remaining</th>
          <th class="p-2 border border-slate-300">Wins</th>
          <th class="p-2 border border-slate-300">Draws</th>
          <th class="p-2 border border-slate-300">Losses</th>
          <th class="p-2 border border-slate-300">Total Points</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          {% if team.total_points|clinched_promotion:promotion_threshold %}
            {% include "division/promoted_team.html" with rank=forloop.counter team=team %}
          {% elif team.max_possible_points|clinched_relegation:relegation_threshold %}
            {% include "division/relegated_team.html" with rank=forloop.counter team=team %}
          {% else %}
            {% include "division/undecided_team.html" with rank=forloop.counter number_of_promoted_teams=division.number_of_promoted_teams team=team %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <br />
    {% if division.id == 1 %}
    <a href="/division/2" class="hover:underline pb-6">Go to Women's Premier Division</a>
    {% else %}
    <a href="/division/1" class="hover:underline pb-6">Go to Men's Premier Division</a>
    {% endif %}
    {% else %}
    <p>no teams</p>
    </div>
    {% endif %}
  </body>
</html>
