<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit match</title>
  </head>
  <body>
    <h1>{{ match.home_team.name }} (H) v. {{ match.away_team.name }} (A)</h1>
    <h2>{{ match.division.name }}</h2>
    <form action="{% url 'l1o:update' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="match_id" value="{{ match.id }}" />
      <input type="hidden" name="division_id" value="{{ match.division.id }}" />
      {{ form }}
      <input type="submit" value="Submit" />
    </form>
    <a href="{% url 'l1o:division' match.division.id %}"
      >Go back to {{ match.division.name }}</a
    >
  </body>
</html>
